<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>南京秒速流量充值平台</title>
    <link rel="icon" th:href="@{/favicon.gif}" href="../static/favicon.gif"/>

    <!-- EXTJS Import -->
    <LINK rel="stylesheet" type="text/css" th:href="@{/css/app.css}" href="../static/css/app.css"/>
    <LINK rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css"/>
    <LINK rel="stylesheet" type="text/css" th:href="@{/extjs/resources/css/ext-all.css}" href="../static/extjs/resources/css/ext-all.css"/>
    <LINK rel="stylesheet" type="text/css" th:href="@{/extjs/TabScrollerMenu/tab-scroller-menu.css}"
          href="../static/extjs/TabScrollerMenu/tab-scroller-menu.css"/>
    <LINK rel="stylesheet" type="text/css" th:href="@{/extjs/ColumnHeaderGroup/ColumnHeaderGroup.css}"
          href="../static/extjs/ColumnHeaderGroup/ColumnHeaderGroup.css"/>

    <script language="javascript" type="text/javascript" th:src="@{/datepicker/WdatePicker.js}"  src="../static/datepicker/WdatePicker.js"></script>

    <SCRIPT type="text/javascript" th:src="@{/extjs/ext-base.js}" src="../static/extjs/ext-base.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/extjs/ext-all.js}" src="../static/extjs/ext-all.js"></SCRIPT>
    <!--<SCRIPT type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.4.1.1/release/adapter/ext/ext-base.js"></SCRIPT>-->
    <!--<SCRIPT type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.4.1.1/release/ext-all.js"></SCRIPT>-->
    <SCRIPT type="text/javascript" th:src="@{extjs/Ext.TabCloseMenu.js}" src="../static/extjs/Ext.TabCloseMenu.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{extjs/TabScrollerMenu/Ext.TabScrollerMenu.js}"
            src="../static/extjs/TabScrollerMenu/Ext.TabScrollerMenu.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{extjs/ColumnHeaderGroup/ColumnHeaderGroup.js}"
            src="../static/extjs/ColumnHeaderGroup/ColumnHeaderGroup.js"></SCRIPT>

    <!-- our script -->
    <SCRIPT type="text/javascript" th:src="@{/app/app.js}" src="../static/app/app.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/util.js}" src="../static/app/util.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/data/Region.js}" src="../static/data/Region.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/Ext.ux.ChinaRegionField.js}" src="../static/app/Ext.ux.ChinaRegionField.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/Desktop.js}" src="../static/app/view/Desktop.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/desktop/Head.js}" src="../static/app/view/desktop/Head.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/desktop/MainTab.js}" src="../static/app/view/desktop/MainTab.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/desktop/Menu.js}" src="../static/app/view/desktop/Menu.js"></SCRIPT>

    <SCRIPT type="text/javascript" th:src="@{/app/view/user/ChangePwd.js}" src="../static/app/view/user/ChangePwd.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/user/UserList.js}" src="../static/app/view/user/UserList.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/user/AddUser.js}" src="../static/app/view/user/AddUser.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/user/EditUser.js}" src="../static/app/view/user/EditUser.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/user/AddBalance.js}" src="../static/app/view/user/AddBalance.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/user/DeductBalance.js}" src="../static/app/view/user/DeductBalance.js"></SCRIPT>

    <SCRIPT type="text/javascript" th:src="@{/app/view/product/ProductList.js}" src="../static/app/view/product/ProductList.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/product/EditProduct.js}" src="../static/app/view/product/EditProduct.js"></SCRIPT>

    <SCRIPT type="text/javascript" th:src="@{/app/view/blacknum/BlackNumList.js}" src="../static/app/view/blacknum/BlackNumList.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/blacknum/EditBlackNum.js}" src="../static/app/view/blacknum/EditBlackNum.js"></SCRIPT>

    <SCRIPT type="text/javascript" th:src="@{/app/view/bill/BillList.js}" src="../static/app/view/bill/BillList.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/bill/BillStatList.js}" src="../static/app/view/bill/BillStatList.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/order/OrderList.js}" src="../static/app/view/order/OrderList.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/order/OrderStatList.js}" src="../static/app/view/order/OrderStatList.js"></SCRIPT>
    <SCRIPT type="text/javascript" th:src="@{/app/view/order/ManualList.js}" src="../static/app/view/order/ManualList.js"></SCRIPT>
    <style type="text/css">
        /*解决Extjs grid不允许选择复制的问题*/

        .x-selectable, .x-selectable * {
            -moz-user-select: text!important;
            -khtml-user-select: text!important;
            -webkit-user-select: text!important;
            -ms-user-select: text!important;
            user-select: text!important;
        }
    </style>
</head>
<body scroll="no" id="docs">
<div id="loading-mask" style=""></div>
<div id="loading">
    <div class="loading-indicator">
        <img th:src="@{/images/index/extanim32.gif}" src="../static/images/index/extanim32.gif" width="32" height="32" style="margin-right: 8px;"
             align="absmiddle"/>Loading application ...
    </div>
</div>
<div id="header">
    <a href="/" target="_blank" style="float: right; margin-right: 10px;">
        <!--<img th:src="@{/images/index/logo.png}" src="../static/images/login/logo.png" style="width: 83px; height: 24px; margin-top: 1px;"/>-->
    </a>
    <span style="float: right; margin-right: 10px; margin-top: 5px; color:white; ">
        欢迎您， <span th:text="${userName}" onclick=""></span> ! &nbsp;&nbsp;
        <a href="logout"><span style="color:white;">注销</span></a>
        <a href="#" onclick="changePwd()"><span style="color:white;">修改密码</span></a>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var IS_ADMIN = /*[[${isAdmin}]]*/;
            console.log("IS_ADMIN="+IS_ADMIN);

            var CURR_USER= /*[[${userName}]]*/;
            console.log("CURR_USER="+CURR_USER);
            /*]]>*/
        </script>
        <script th:if="${isAdmin}">IS_ADMIN = true; console.log("IS_ADMIN="+IS_ADMIN); </script>
    </span>

    <div class="api-title">秒速流量充值 - 管理系统</div>
</div>

<!--<div id="classes"></div>-->

<!--<div id="main"></div>-->
</body>
<script>
    function token(){

    }

    function changePwd() {

        var win = Ext.getCmp("changepwd-win");

        if (win) {
            win.show(this);
        } else {
            win = new Desktop.ChangePwdWin();
            win.show(this);
        }
    }
</script>
</html>